body{
    font-family: 'Hiragino Kaku Gothic ProN','メイリオ',sans-serif;
}

h1{
    margin: 0 auto;
    width:500px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-left: 4px solid red;
    padding:5px 0px 5px 15px;
    font-size: 25px;
}

.confirm{
    margin:0 auto;
    background-color: lightgray;
    border:2px solid lightgray;
    border-radius: 10px;
    width: 500px;
    padding:20px 20px 60px 20px;
}

form{
    float:left;
    margin-right: 15px;
}

.button1{
    border:1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.button2{
    border:1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: darkorange;
    border-radius: 5px;
    border-bottom: 2px solid #E08600;
}
